<aside class="sidebar">
  <div class="profile">
        <a href="/">
          <div class="avatar">💾 Ashok Kumar</div>
        </a>
        <hr>
        <p>I'm Ashok. This is my digital space. 💽</p>
  </div>
  <hr>
  <nav class="nav-links">
        <a href="/blog.html" class="nav-item">📂 Blog</a>
        <a href="/projects.html" class="nav-item">💻 Projects</a>
        <a href="/certifications.html" class="nav-item">🎓 Certifications</a>
        <a href="/about.html" class="nav-item">👨‍💼 About Me</a>
  </nav>
</aside>