---
---
/* CSS Variables */
:root {
    --bg-color: #f8f9fa;    
    --header-bg-color: rgba(11, 94, 157, 0.755);
    --header-color: rgb(241, 241, 241);
    --navbar-bg-color: rgb(22, 22, 33);   
    --navbar-color: rgb(255, 255, 255);   
    --text-main: rgb(35, 40, 40);        
    --text-heading: #000000;    
    --accent-color: #264e9e;     
    --sidebar-width: 260px;
    --border-color: #2c2f40;


}

body.dark-theme {
    --bg-color: #161822;    
    --header-bg-color: rgba(179, 13, 13, 0.15);
    --header-color: rgb(255, 255, 255);   
    --text-main: #a9a9b3;        
    --text-heading: #ffffff; 
    --accent-color: #9d82f5;
    --sidebar-width: 260px;
    --navbar-bg-color: rgb(255, 255, 255);   
    --navbar-color: rgb(0, 0, 0);
    --border-color: #2c2f40;
}

* { box-sizing: border-box; }

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-main);
    line-height: 1.6;
    transition: 0.3s;
}

h1, h2, h3, h4 { color: var(--text-heading); font-weight: 700; }
a { color: var(--accent-color); text-decoration: none; font-weight: 500;}
a:hover { text-decoration: underline 2px; }

/* Sidebar + Main Layout System */
.layout-wrapper {
    display: flex;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

/* Main Content Styling */
.content {
  flex: 1;
  padding: 20px 100px;
  max-width: 800px;
}

//posts styling move to post.css

/* --- Projects Page Styling move to project.css --- */


/* Desktop Button hide*/
#menuBtn {
  display: none;
  position: fixed;
}

.closebtn {
    display: none ;
 }



//sidebar move to sidebar.css file
/* --- Mobile --- */
@media (max-width: 768px) {
  #menuBtn {
    display: inline-block !important;
    position: fixed;
    top: 33px;
    left: 15px;
    z-index: 1100;
    color: white; 
    background: var(--border-color);
    border-radius: 5px;
    padding: 5px 12px;
  }

  .sidebar {
    position: fixed !important; 
    left: -100% !important;
    z-index: 1150;
    background-color: var(--bg-color);
    width: 260px;
  }

  .sidebar.active {
    left: 0 !important; 
  }

  .layout-wrapper {
    display: block;
  }

  .content {
    padding: 80px 20px 20px 20px !important;
    max-width: 100%;
  }
  .closebtn {
    display: block ;
    position: absolute;
    top: 10px;
    left: 215px;
    color: white; 
    padding: 0px 10px 5px 10px;
    background: rgb(208, 82, 82);
    border-radius: 5px;
    font-size: 18px;
    font-weight: bolder;
 }
  
}
