<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ " /assets/css/main.css" | relative_url }}">
</head>

<body>
  <div class="layout-wrapper">
    <aside class="sidebar">
      <h1> <a href="/">&lt;cj7&gt;</a> </h1>
      <nav class="nav-links">
        <a href="/blog.html" class="nav-item">📂 Blog</a>
        <a href="/projects.html" class="nav-item">💻 Projects</a>
        <a href="/certifications.html" class="nav-item">🎓 Certifications</a>
        <a href="/about.html" class="nav-item">👨‍💼 About Me</a>
      </nav>
    </aside>
    <main class="content">
      {{ content }}
    </main>
  </div>
</body>

</html>